/* VARIABLES */

$mainBold: "Montserrat Bold";
$mainReg: "Montserrat Regular";
$robotoLight: "Roboto Light";
$red: #ff4e50;
$white: #ffffff;
$gray: #666666;
$darkGray: #333333;
$lightGray: #cccccc;

